<!-- FOOTER -->
<footer class="text-center text-lg-start bg-light text-muted mt-4">
    <!-- Section: Links  -->
    <section class="pt-2">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <a class="navbar-brand" th:href="@{'/home'}" style="font-family: Calibri, sans-serif; font-weight: bold; font-size: 25px" >
                        <span class="text-primary">coinsmart</span>
                    </a>
                    <p>
                        Cryptocurrency and blockchain courses on CodeSmart can teach you the finer points of investing in and using digital money.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Our Courses
                    </h6>
                    <p>
                        <a th:href="@{'/learn/what-is-cryptocurrency'}" class="text-reset text-decoration-none">What is Cryptocurrency?</a>
                    </p>
                    <p>
                        <a th:href="@{'/learn/what-is-blockchain'}" class="text-reset text-decoration-none">What is Blockchain?</a>
                    </p>
                    <p>
                        <a th:href="@{'/learn/what-is-ethereum'}" class="text-reset text-decoration-none">What is Ethereum?</a>
                    </p>
                    <p>
                        <a th:href="@{'/learn/what-is-bitcoin'}" class="text-reset text-decoration-none">What is Bitcoin?</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a th:href="@{'/home'}" class="text-reset text-decoration-none">Home</a>
                    </p>
                    <p>
                        <a th:href="@{'/learn'}" class="text-reset text-decoration-none">Learn</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Quiz</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset text-decoration-none">Forum</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright: COINSMART
    </div>
    <!-- Copyright -->
</footer>
