<div class="container text-center mt-5">
    <p class="display-5" style="font-weight: bold;">Successfully completed!</p>
</div>

<div class="container d-flex justify-content-center mt-3">
    <img src="/img/check.png" class="img-fluid rounded" width="150px">
</div>

<div class="container mt-3">
    <div class="d-flex justify-content-center">
        <a th:href="@{'/learn'}" class="btn btn-outline-info btn-lg col-3 mx-2">Learn</a>
        <a type="button" class="btn btn-outline-success btn-lg col-3">Quiz</a>
    </div>
</div>

<div class="container mt-2">
    <p class="text-muted text-center">You can track completed courses on your profile</p>
</div>