<div class="container mt-5">
    <p class="display-5 mt-4 text-center" style="font-weight: bold;">All courses</p>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="/img/cryptocurrency.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">What is Cryptocurrency?</h5>
                    <p class="card-text">Bitcoin, Ethereum, and other crypto are revolutionizing how we invest, bank, and use money. Learn more in this beginner's guide.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a th:href="@{'/learn/what-is-cryptocurrency'}" class="btn btn-outline-info">Learn now</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/blockchain.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">What is Blockchain?</h5>
                    <p class="card-text">Cryptocurrencies like Bitcoin and Ethereum are powered by a technology called the blockchain.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a th:href="@{'/learn/what-is-blockchain'}" class="btn btn-outline-info">Learn now</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/etherium.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">What is Ethereum?</h5>
                    <p class="card-text">Ethereum is the second-biggest cryptocurrency by market cap after Bitcoin. It is also a decentralized computing platform that can run a wide variety of applications.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a th:href="@{'/learn/what-is-ethereum'}" class="btn btn-outline-info">Learn now</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/bitcoin.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">What is Bitcoin?</h5>
                    <p class="card-text">Bitcoin is the world's first widely adopted cryptocurrency — it allows for secure and seamless peer-to-peer transactions on the internet.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a th:href="@{'/learn/what-is-bitcoin'}" class="btn btn-outline-info">Learn now</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/bitcoin2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Bitcoin, scarcity & trust in money</h5>
                    <p class="card-text">Learn why scarcity and trust are crucial to money having value; discover why modern money isn’t scarce and how Bitcoin is.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a th:href="@{'/learn/bitcoin-scarcity-trust-in-money'}" class="btn btn-outline-info">Learn now</a></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/ligthning-network.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Building on top of Bitcoin</h5>
                    <p class="card-text">Learn how building a layer on top of Bitcoin is the key to its use for everyday money. Find out how layer two solutions like the Lightning Network function.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"><a th:href="@{'/learn/building-on-top-of-bitcoin'}" class="btn btn-outline-info">Learn now</a></div>
                </div>
            </div>
        </div>
    </div>

</div>