<!--CONTENT-->
<div class="container mt-5">
    <p class="display-5 mt-4 text-center" style="font-weight: bold;">New to crypto?</p>
    <p class="text-secondary text-center text-uppercase fw-bold"><a th:href="@{'/learn'}" style="text-decoration: none; color: gray">start with our guides and explainers</a></p>

    <div class="row mt-4">
        <div class="col-lg">
            <a href="#"><img src="/img/home_image2.png" class="img-fluid" style="width: 100%; height: auto"></a>
        </div>
        <div class="col-lg">
            <a href="#"><img src="/img/home_image3.png" class="img-fluid" style="width: 100%; height: auto"></a>
        </div>
        <div class="col-lg">
            <a href="#"><img src="/img/home_image1.png" class="img-fluid" style="width: 100%; height: auto"></a>
        </div>
        <div class="col-lg">
            <a href="#"><img src="/img/home_image4.png" class="img-fluid" style="width: 100%; height: auto"></a>
        </div>
    </div>

    <div>
        <p class="display-6 mt-4 text-center mb-5" style="margin-top: 10px;">Beginner guides, practical tips, and market updates for first-timers, experienced investors, and everyone in between</p>
    </div>

    <div class="row">
        <div class="col">
            <p style="text-align: justify; font-size: 20px" class="text-muted">Cryptocurrency like Bitcoin is more than just a hot topic in the financial news. Many believe digital currency is the next evolution in world trade and a great investment, too. Unlike hard currencies like dollars and euros, the value of cryptocurrency is determined online, and exchange operates outside of banking or governmental regulations.</p>
        </div>
        <div class="col">
            <p style="text-align: justify; font-size: 20px" class="text-muted">
                After this course, you’ll know everything you need to be able to separate fact from fiction when reading claims about Bitcoin and other cryptocurrencies. You’ll have the conceptual foundations you need to engineer secure software that interacts with the Bitcoin network. And you’ll be able to integrate ideas from Bitcoin in your own projects.</p>
        </div>
    </div>
</div>

