<div class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <p class="display-5" style="font-weight: bold;">What is Bitcoin?</p>

    <div class="row" id="intro">
        <div class="col-lg-7">
            <img src="/img/bitcoin.png" class="img-fluid">
        </div>
        <div class="col">
            <div style="background-color: #f8f9fa; padding: 20px; position: sticky; top: 0;">
                <p class="fw-bold">What you'll learn?</p>
                <p>
                    1. What is Bitcoin?</br>
                    2. Who created Bitcoin?</br>
                    3. How Bitcoin works</br>
                    4. Bitcoin's limitations<br/>
                </p>
                <button class="btn btn-outline-info" onclick="getContent()">Start learning</button>
                <a th:href="@{'/learn/bitcoin-scarcity-trust-in-money'}" class="btn btn-outline-warning">Next course</a>
            </div>
        </div>
    </div>

    <div class="row" id="content" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p style="font-size: 20px; text-align: justify">
                    <b>Bitcoin</b> was created by <b>Satoshi Nakamoto</b>, a pseudonymous person or team who outlined the technology in a 2008 white paper. It’s an appealingly simple concept: bitcoin is digital money that allows for secure peer-to-peer transactions on the internet.<br/>
                    Unlike services like Venmo and PayPal, which rely on the traditional financial system for permission to transfer money and on existing debit/credit accounts, bitcoin is decentralized: any two people, anywhere in the world, can send bitcoin to each other without the involvement of a bank, government, or other institution.<br/><br/>
                    Every transaction involving Bitcoin is tracked on the <a th:href="@{'/learn/what-is-blockchain'}" style="text-decoration: none">blockchain</a>, which is similar to a bank’s ledger, or log of customers’ funds going in and out of the bank. In simple terms, it’s a record of every transaction ever made using bitcoin.<br/><br/>
                    It isn’t necessary to buy an entire bitcoin: you can buy just a fraction of one if that’s all you want or need.
                </p>
                <iframe width="688" height="387" src="https://www.youtube.com/embed/Gc2en3nHxA4" title="What is Bitcoin? (v2)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row" id="content1" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p class="display-6" style="font-weight: bold;">Who created Bitcoin?</p>
                <p style="font-size: 20px; text-align: justify">
                    To really grasp how bitcoin works, it helps to start at the beginning. The question of who created bitcoin is a fascinating one, because a decade after inventing the technology—and despite a lot of digging by journalists and members of the crypto community—its creator remains anonymous.<br/><br/>
                    When Bitcoin first appeared, <b>it marked a major advance in computer science,</b> because it solved a fundamental problem of commerce on the internet: how do you transfer value between two people without a trusted intermediary (like a bank) in the middle? By solving that problem, the invention of bitcoin has wide-ranging ramifications: As a currency designed for the internet, it allows for financial transactions that range across borders and around the globe without the involvement of banks, credit-card companies, lenders, or even governments. When any two people—wherever they might live—can send payments to each other without encountering those gatekeepers, it creates the potential for an open financial system that is more efficient, more free, and more innovative.
                </p>

            </div>
        </div>
        <div class="col" style="background-color: #f8f9fa; padding: 20px; height: 150px; margin-top: 90px">
            <div class="mt-3 fw-bold">
                Bitcoin creates the potential for an open financial system that is more efficient, more free, and more innovative.            </div>
        </div>
    </div>

    <div class="row" id="content2" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p class="display-6" style="font-weight: bold;">How Bitcoin works</p>
                <p style="font-size: 20px; text-align: justify">
                    Unlike credit card networks like Visa and payment processors like Paypal, <b>bitcoin is not owned by an individual or company.</b> Bitcoin is the world’s first completely open payment network which anyone with an internet connection can participate in. Bitcoin was designed to be used on the internet, and doesn’t depend on banks or private companies to process transactions.</br>
                    One of the most important elements of Bitcoin is the blockchain, which tracks who owns what, similar to how a bank tracks assets. What sets the Bitcoin blockchain apart from a bank's ledger is that it is decentralized, meaning anyone can view it and no single entity controls it.
                </p>
                <ul style="font-size: 20px;">
                    <li>Specialized computers known as <b>‘mining rigs’</b> perform the equations required to verify and record a new transaction. In the early days, a typical desktop PC was powerful enough to participate, which allowed pretty much anyone who was curious to try their hand at mining. These days the computers required are massive, specialized, and often owned by businesses or large numbers of individuals pooling their resources. </li>
                    <li><b>The miners’</b> collective computing power is used to ensure the accuracy of the ever-growing ledger. Bitcoin is inextricably tied to the blockchain; each new bitcoin is recorded on it, as is each subsequent transaction with all existing coins.</li>
                    <li>At the beginning, a bitcoin was technically worthless. As of the end of 2019, it was trading at around $7,500. As bitcoin’s value has risen, its easy divisibility (the ability to buy a small fraction of one bitcoin) has become a key attribute. One bitcoin is currently divisible to eight decimal places (100 millionths of one bitcoin); the bitcoin community refers to the smallest unit as a ‘Satoshi.’</li>
                    <li>Nakamoto set the network up so that the number of bitcoin will never exceed 21 million, <b>ensuring scarcity.</b> There are currently around 3 million bitcoin still available to be mined, which will happen more and more slowly. The last blocks will theoretically be mined in 2140.</li>
                </ul>
            </div>
        </div>
        <div class="col" style="background-color: #f8f9fa; padding: 20px; height: 150px; margin-top: 90px">
            <div class="mt-3 fw-bold">
                Bitcoin is the world’s first completely open payment network which anyone with an internet connection can participate in.
            </div>
        </div>
    </div>

    <div class="row" id="content3" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p class="display-6" style="font-weight: bold;">Bitcoin's limitations</p>
                <p style="font-size: 20px; text-align: justify">
                    Of course, no system is perfect, and a decentralised, distributed system such as Bitcoin suffers from limitations that a centralised system doesn’t.<br/><br/>
                    The main limitation is the trilemma between security, scalability, and decentralisation. This means that there are trade-offs when designing a network, and you can’t have all three. In other words, you can’t have your cake and eat it.<br/><br/>
                </p>
                <ul style="font-size: 20px;">
                    <li><b>Scalability</b> is the capacity of the system to execute a higher volume of transactions </li>
                    <li><b>Security</b> is the capacity to protect the ledger from cheating, hacks or other attacks</li>
                    <li><b>Decentralisation</b> is the system redundancy; it’s what stops any one party from controlling the network</li>
                </ul>
                <p style="font-size: 20px; text-align: justify">
                    Bitcoin is designed to focus on <b>decentralisation, and it’s incredibly secure</b>. This comes at the price of scalability. Currently, Bitcoin’s maximum speed hovers at around five transactions per second (a fraction of Visa’s purported 50,000+), making it impractical for use at scale.
                </p>

                <a th:href="'/learn/finished/' + ${#request.getRemoteUser()} + '/4'" class="btn btn-outline-success col-12">Mark course as done</a>

                <a th:href="@{'/learn/what-is-ethereum'}" class="btn btn-outline-secondary col-12 mt-3">Previous course</a>
            </div>
        </div>
    </div>
</div>

<script>

    function getContent(){
        document.getElementById("content").hidden = false;
        document.getElementById("content1").hidden = false;
        document.getElementById("content2").hidden = false;
        document.getElementById("content3").hidden = false;

    }
</script>