<div class="container mt-5" xmlns="http://www.w3.org/1999/html">
    <p class="display-5" style="font-weight: bold;">What is Cryptocurrency?</p>

    <div class="row" id="intro">
        <div class="col-lg-7">
            <img src="/img/cryptocurrency.png" class="img-fluid">
        </div>
        <div class="col">
            <div style="background-color: #f8f9fa; padding: 20px; position: sticky; top: 0;">
                <p class="fw-bold">What you'll learn?</p>
                <p>
                    1. A simple definition of crypto & what you can do with it</br>
                    2. How crypto can have value & the concept of sound money</br>
                    3. The evolution of money & the gold standard</br>
                    4. A simple explanation of how Cryptocurrency works</br>
                </p>
                <button class="btn btn-outline-info" onclick="getContent()">Start learning</button>
                <button class="btn btn-outline-warning">Next course</button>
            </div>
        </div>
    </div>

    <div class="row" id="content" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p style="font-size: 20px; text-align: justify">
                    At its core, cryptocurrency is <b>typically decentralized digital money designed to be used over the internet.</b>
                    Bitcoin, which launched in 2008, was the first cryptocurrency, and it remains by far the biggest, most influential, and best-known.
                    In the decade since, Bitcoin and other cryptocurrencies like Ethereum have grown as digital alternatives to money issued by governments.
                </p>
                <ul style="font-size: 20px;">
                    <li>The most popular cryptocurrencies, by market capitalization, are <b>Bitcoin, Ethereum, Bitcoin Cash and Litecoin.</b> Other well-known cryptocurrencies include Tezos, EOS, and ZCash. Some are similar to Bitcoin. Others are based on different technologies, or have new features that allow them to do more than transfer value.</li>
                    <li>Crypto makes it possible to transfer value online without the need for a middleman like a bank or payment processor, allowing value to transfer globally, near-instantly, 24/7, for low fees.</li>
                    <li>Cryptocurrencies are usually not issued or controlled by any government or other central authority. They’re managed by peer-to-peer networks of computers running free, open-source software. Generally, anyone who wants to participate is able to.</li>
                    <li>If a bank or government isn’t involved, how is crypto secure? It’s secure because all transactions are vetted by a technology called a blockchain.</li>
                    <li>Unlike a bank’s ledger, a crypto blockchain is distributed across participants of the digital currency’s entire network</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" id="content1" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p class="display-6" style="font-weight: bold;">Why is cryptocurrency the future of finance?</p>
                <p style="font-size: 20px; text-align: justify">
                    Cryptocurrencies are <b>the first alternative to the traditional banking system</b>, and have powerful advantages over previous payment methods and traditional classes of assets. Think of them as Money 2.0. -- a new kind of cash that is native to the internet, which gives it the potential to be the fastest, easiest, cheapest, safest, and most universal way to exchange value that the world has ever seen.
                </p>
                <ul style="font-size: 20px;">
                    <li><b>Cryptocurrencies can be used to buy goods or services or held as part of an investment strategy</b>, but they can’t be manipulated by any central authority, simply because there isn’t one. No matter what happens to a government, your cryptocurrency will remain secure.</li>
                    <li style="list-style: none"><img src="/img/stock.png" class="img-fluid"></li>
                    <li>Cryptocurrencies create unique opportunities for <b>expanding people’s economic freedom around the world.</b> Digital currencies’ essential borderlessness facilitates free trade, even in countries with tight government controls over citizens’ finances. In places where inflation is a key problem, cryptocurrencies can provide an alternative to dysfunctional fiat currencies for savings and payments.</li>
                    <li>As part of a broader investment strategy, crypto can be approached in a <b>wide variety of ways.</b> One approach is to buy and hold something like bitcoin, which has gone from virtually worthless in 2008 to thousands of dollars a coin today. Another would be a more active strategy, buying and selling cryptocurrencies that experience volatility.</li>
                </ul>
            </div>
        </div>
        <div class="col" style="background-color: #f8f9fa; padding: 20px; height: 150px; margin-top: 130px">
            <div class="mt-3 fw-bold">
                Most importantly, cryptocurrencies allow individuals to take complete control over their assets.
            </div>
        </div>
    </div>
    <div class="row" id="content2" hidden>
        <div class="col-lg-7">
            <div class="mt-3">
                <p class="display-6" style="font-weight: bold;">How does cryptocurrency work?</p>
                <p style="font-size: 20px; text-align: justify">
                    Bitcoin is the first and most well-known, but there are thousands of types of cryptocurrencies. Many, like Litecoin and Bitcoin Cash,
                    share Bitcoin’s core characteristics but explore new ways to process transactions. Others offer a wider range of features.
                    Ethereum, for example, can be used to run applications and create contracts. All four, however, are based on an idea called the <a href="#" style="color: black" class="fw-bold">blockchain</a>, which is key to understanding how cryptocurrency works.
                    <br/><br/>
                    Cryptocurrencies run on a distributed public ledger called blockchain, a record of all transactions updated and held by currency holders.<br/>

                    Units of cryptocurrency are created through a process called mining, which involves using computer power to solve complicated mathematical problems that generate coins. Users can also buy the currencies from brokers, then store and spend them using cryptographic wallets.<br/><br/>

                    If you own cryptocurrency, you don’t own anything tangible. What you own is a key that allows you to move a record or a unit of measure from one person to another without a trusted third party.</br>

                    Although Bitcoin has been around since 2009, cryptocurrencies and applications of blockchain technology are still emerging in financial terms, and more uses are expected in the future. Transactions including bonds, stocks, and other financial assets could eventually be traded using the technology.<br/>
                </p>
                <form>
                    <button class="btn btn-outline-success col-12">Mark course as done</button>
                </form>
                <a th:href="@{'/learn'}" class="btn btn-outline-secondary col-12 mt-3">Back</a>
            </div>
        </div>
        <div class="col mt-5" style="background-color: #f8f9fa; padding: 20px; height: 270px;">
            <div class="mt-3">
                <p class="fw-bold" style="font-size: 18px">Key concept</p>
                <p style="font-size: 15px; text-align: justify;">
                    Cryptocurrencies use a technology called <b>public-private key cryptography</b> to transfer coin ownership on a secure and distributed ledger. A private key is an ultra secure password that never needs to be shared with anyone, with which you can send value on the network. An associated public key can be freely and safely shared with others to receive value on the network. From the public key, it is impossible for anyone to guess your private key.
                </p>
            </div>
        </div>
    </div>


</div>

<script>

    function getContent(){
        document.getElementById("content").hidden = false;
        document.getElementById("content1").hidden = false;
        document.getElementById("content2").hidden = false;
        document.getElementById("content3").hidden = false;
        document.getElementById("btn1").hidden = false;
        document.getElementById("btn2").hidden = false;



    }
</script>

